@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* :root{
    --color-default:white;;
    --color-second:white;;
    --color-white:#fff;
    --color-body:#e4e9f7;
    --color-light:#e0e0e0;
  } */

*{
    padding: 0%;
    margin-left: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body{
    min-height: 100vh;
}
.homecls{
  display: none;
}
.sidebar{
  min-height: 92vh;
  width: 48px;
  /* background-color: #0c8c8c; */
  /* padding: 6px 14px; */
  
  padding: 5px;
  z-index: 99;
  border-radius: 0px 5px 5px 0px;
  transition: all .5s ease;
  position: absolute;
  top:100px;
  left: 0;
  margin-left: 0px;
}

.sidebar.open{
    width: 170px;

  }
  
  .sidebar .logo_details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    transition: 0.5s ease;
  }
  
  .sidebar .logo_details .icon{
    opacity: 0;
    transition: all 0.5s ease ;
  }
  
  
  
  .sidebar .logo_details .logo_name{
    color:var(--color-white);
    font-size: 22px;
    font-weight: 600;
    opacity: 0;
    transition: all .5s ease;
  }
  
  .sidebar.open .logo_details .icon,
  .sidebar.open .logo_details .logo_name{
    opacity: 1;
  }
  
  .sidebar .logo_details #btn{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
  }
  
  .sidebar.open .logo_details #btn{
    text-align: right;
  }
  
  .sidebar i{
    color:var(--color-white);
    height: 60px;
    line-height: 60px;
    min-width: 50px;
    font-size: 25px;
    margin-left: 0px;
    text-align: center;
  }
  
  .sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
  }
  
  .sidebar li{
    position: relative;
    margin:1px 0;
    list-style: none;
  }
  
  .sidebar li .tooltip{
    position: absolute;
    top:-20px;
    left:calc(100% + 15px);
    z-index: 3;
    background-color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
  }
  
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top:50%;
    transform: translateY(-50%);
  }
  
  .sidebar.open li .tooltip{
    display: none;
  }
  
  .sidebar input{
    font-size: 15px;
    color: var(--color-white);
    font-weight: 400;
    outline: none;
    height: 35px;
    width: 35px;
    border:none;
    border-radius: 5px;
    background-color: var(--color-second);
    transition: all .5s ease;
  }
  
  .sidebar input::placeholder{
    color:var(--color-light)
  }
  
  .sidebar.open input{
    width: 100%;
    padding: 0 20px 0 50px;
  }
  
  .sidebar .bx-search{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    font-size: 22px;
    background-color: var(--color-second);
    color: var(--color-white);
  }
  
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    align-items: center;
    position: relative;
    transition: all .5s ease;
    z-index: 12;
  }
  
  .sidebar li a::after{
    content: "";
    position: absolute;
    width: 100%;
    color: white;
    height: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    z-index: -2;
  }
  
  .sidebar li a:hover::after{
    transform: scaleX(1);
    color: white;
    color:var(--color-default)
  }
  
  .sidebar li a .link_name{
    color:var(--color-white);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: auto;
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 0;
  }
  
  .sidebar li a:hover .link_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color:var(--color-default)
  }
  
  .sidebar.open li a .link_name{
    opacity: 1;
    pointer-events: auto;
  }
  
  .sidebar li i{
    height: 35px;
    line-height: 35px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
  }
  



  
  
  







